// コンテンツ
.c-container{
	width: 100vw;
	height: auto;
}

.c-contents{
	&-inner{
		width: 90%;
		margin: auto;
		@include min(768){
			width: 90%;
		}
	}

	&.-h-logo{
		position: relative;
		.c-contentsBox{
			position: absolute;
			// ヘッダーロゴ
			&.-logo{
				&-item01{//緑色の鳥
					top: 51%;
					left: 101.5%;
					width: 6.5%;
					@include min(768){
						top: 17.5%;
						left: 30.8%;
						width: 2.3%;
					}
				}
				&-item02{//黄色の鳥
					top: 32%;
					left: 110%;
					width: 5%;
					@include min(768){
						top: 10%;
						left: 33%;
						width: 1.5%;
					}
				}
			}
			// SOLD OUT
			&.-soldOut{
				top: 36%;
				left: 45%;
				transform: rotate(-5deg) translate(-50%, -50%);
				width: 70%;
				z-index: 99;
				filter: drop-shadow(1px 1px 2px rgb(128, 128, 128));
				img{background: $sold-out;}
				@include min(768){
					top: 41%;
					left: 63%;
					width: 40%;
				}
			}
		}
	}

	&.-f-slider,//スライダー
	&.-f-view{  //ファーストビュー
		width: 100%;
		height: auto;
		@include min(768){
			// min-height: 480px;
		}
	}
	&.-f-slider{// スライダー
		position: relative;
		// .-S-imgBox{overflow: hidden;}
		.-S-contentsBox{
			position: absolute;
			// ファーストビュー > 帯画像
			&.-S-obi{
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
				z-index: 1;
			}
			&.-S-logo{
				&_01{
					top: 38%;
					left: 50%;
					transform: translateX(-50%);
					width: 25%;
					z-index: 1;
					@include min(768){
						top: 22%;
						width: 9%;
					}
				}
				&_02{
					@include max(768){
						top: 38%;
						left: 5%;
						width: 12%;
						z-index: 1;
					}
				}
			}
			&.-S-des{
				&_01{
					top: 46%;
					left: 50%;
					transform: translateX(-50%);
					width: auto;
					z-index: 1;
					@include min(768){
						top: 38%;
					}
				}
				&_02{
					top: 59%;
					left: 50%;
					transform: translateX(-50%);
					width: auto;
					z-index: 1;
					@include min(768){
						top: 66%;
					}
				}
			}
			&.-S-title{
				top: 51%;
				left: 50%;
				transform: translateX(-50%);
				width: 65%;
				z-index: 1;
				@include min(768){
					top: 46%;
					width: 33%;
				}
			}
		}
	}
	&.-f-view{//ファーストビュー
		position: relative;
		overflow: hidden;
		.imgBox{
			// @include max(768){
			// 	opacity: .75;
			// }
		}
		.c-contentsBox{
			position: absolute;
			&.-f-title{
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 60%;
				@include max(768){
					width: auto;
					// タイトル > 中央
					&.-f-title_c{
						&::after{
							position: absolute;
							top: 120%;
							left: 50%;
							transform: translate(-50%,-50%);
							width: 100%;
							font-size: 14px;
							text-align: center;
						}
					}
					// タイトル > 右下
					&.-f-title_r{
						top: 78%;
						left: 85%;
						&::after{
							position: absolute;
							top: 120%;
							left: 50%;
							transform: translate(-50%,-50%);
							width: 100%;
							font-size: 14px;
							text-align: center;
						}
					}
					//　タイトル >  コンセプトページ
					&.-concept{&::after{content: "コンセプト";}}
					&.-layout{&::after{content: "レイアウト";}}
					&.-plan{&::after{content: "プラン";}}
					&.-equipment{&::after{content: "設備・仕様";}}
					&.-location{&::after{content: "周辺環境";}}

				}
				@include min(768){// tb
					top: 50%;
					left: 75%;
					width: 38%;
				}
				@include min(1400){
					top: 49%;
					left: 76%;
					width: 40% !important;
				}
			}
			&.-f-logo_s{
				@include max(768){
					top: 10%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 70%;
					z-index: 1;
				}
			}
			&.-f-des{
				bottom: 0;
				left: 85%;
				transform: translateX(-50%);
				white-space: nowrap;
				// width: auto;
				@include min(768){
					left: 60%;
					transform: scale(.8);
				}
				&.-w{
					@include min(768){
						left: 75%;
					}
				}
			}
			&.-f-bird{
				&_01{// 青
					top: 20%;
					left: 15%;
					width: 5%;
					@include min(768){// tb
						top: 10%;
						left: 2%;
						width: 4%;
					}
					@include min(1400){// pc
						top: 10%;
						left: 15%;
						width: 3%;
					}
				}
				&_02{// うすい
					top: 20%;
					left: 23%;
					width: 3%;
					@include min(768){// tb
						top: 7%;
						left: 7%;
						width: 3%;
					}
					@include min(1400){// pc
						left: 18%;
						width: 2%;
					}
				}
				&_03{// 黄色
					top: 35%;
					left: 77%;
					width: 5%;
					@include min(768){// tb
						top: 21%;
						left: 84%;
						width: 2.5%;
					}
					@include min(1400){// pc
						top: 18%;
						left: 87%;
						width: 2%;
					}
				}
				&_04{// 緑
					@include min(768){// tb
						top: 60%;
						left: 57%;
						width: 2.5%;
					}
					@include min(1400){// pc
						top: 63%;
						left: 53%;
						width: 2.5%;
					}
				}
			}
			&.-f-border{
				top: 36%;
				left: 25%;
				width: 50%;
				@include min(768){// tb
					top: 22%;
					left: 63.5%;
					width: 20%;
				}
				@include min(1400){// pc
					top: 20%;
					left: 65%;
				}
			}
			&.-f-text{
				bottom: 0;
				left: 80%;
				transform: scale(.9);
			}
		}
	}


	&.-imgBg{//背景画像
		position: relative;
		overflow: hidden;
		.c-contentsBox{
			position: absolute;
			// ヘッダーロゴ
			&.-logo{
				&-item01{//緑色の鳥
					top: 54%;
					left: 95.5%;
					width: 5%;
					@include min(768){
						top: 17.5%;
						left: 30.8%;
						width: 2.3%;
					}
				}
				&-item02{//黄色の鳥
					top: 45%;
					left: 100%;
					width: 5%;
					@include min(768){
						top: 10%;
						left: 33%;
						width: 1.5%;
					}
				}
			}
			
			// ファーストビュー > スライダー部分
			&.-sliderBg{
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
				z-index: -1;
			}
		}
	}
}